@import "src/variables";

.menu{
    position: absolute;
    z-index: 9999;
    width: 60px;
    display: flex;
    flex-direction: column;
    top: 10vh;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $white-color;

    @include respond(phone) {
        display: none;

        &.open{
            display: block !important;
            top: 100px;
        }
    }
}

.mobile-menu{
    display: none;

    @include respond(phone) {
        display: block;
        position: absolute;
        top: 30px;
        right: 25px;
        font-size: 40px;
        color: $white-color;
    }
}

.menu-item{
    height: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: $gray-color;

    &.active{
        color: $main-color;
    }
}
