@import "src/variables";

.menu{
    position: absolute;
    z-index: 9999;
    width: 60px;
    display: flex;
    flex-direction: column;
    top: 10vh;
    right: 0;
    background-color: $white-color;
}

.menu-item{
    height: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;

    &.active{
        color: $main-color;
    }
}
