.contact-form{
    display: block;
    padding-left: 15px;
}

.contact-form label{
    display: block;
    padding: 20px 0;
    text-align: right;
}

.contact-form input{
    outline: none;
    border: none;
    display: block;
    margin: 0;
    width: 100%;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.contact-form textarea{
    outline: none;
    border: none;
    display: block;
    margin: 0;
    width: 100%;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.contact-form input:focus{
    border-bottom-color: #3498db;
}

.contact-form button{
    cursor: pointer;
    background-color: #3498db;
    box-shadow: none;
    border: none;
    color: white;
    outline: none;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 17px;
}
