@import "src/variables";

.contact-box{
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;

    &:hover{
        border: 1px solid #3498db;
    }

    h4 {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
    }
}

.contact-wrapper{
    padding-right: 15px;
}

.contacts .hint{
    padding-left: 15px;
    color: $gray-color;
    font-size: 15px;
}
