@import "src/variables";

.working-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.working-meta{
    flex: 35;
    font-size: 13px;
    text-align: right;
    padding-right: 15px;
    padding-top: 12px;

    span{
        color: $gray-color;
        font-size: 12px;
    }
}

.working-position{
    flex: 65;
    border-left: 1px solid $light-border;
    padding: 0 10px;
    position: relative;

    &:after{
        position: absolute;
        display: block;
        border-radius: 50%;
        top: 15px;
        width: 10px;
        height: 10px;
        left: -5px;
        background-color: $main-color;
        content: '';
    }

    h5{
        margin: 13px 0;
    }

    p{
        font-size: 12px;
    }
}

.skill-name{
    font-size: 12px;
    font-weight: bold;
}

.skill-percentage{
    font-size: 12px;
    font-weight: 400;
    color: $gray-color;
    text-align: right;
}

.skill-bar{
    margin-bottom: 10px;
}
