@import "src/variables";

.content{
    flex-basis: 70%;
    margin-left: 20px;

    @include respond(phone) {
        margin: 0;
    }
}

.content-container{
    padding: 20px;

    h3{
        font-size: 30px;
    }
}
