@import "src/variables";

.profile-items{
    display: flex;
    margin: 25px 0;
    padding: 0;

    li{
        list-style: none;
        display: block;
        padding: 0 10px;

        svg{
            color: $white-color;
        }
    }
}
